html, body{
    height: 100%;
}

body{
    margin: 0;
    background-color: rgb(255, 197, 226);
}

header{
    background-color: cornflowerblue;
    color: aliceblue;
    margin-bottom: 5rem;
    text-align: center;
}
.content nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}
  
nav li {
    float: left;
}
  
nav  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #508991;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.personas{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 6rem;
    justify-items: center;
}

.person{
    text-align: center;
    background-color: aliceblue;
    max-width: 16rem;
    padding-right: 2rem;
    width: 100%;
    position:relative;
    text-align: end;
    border-radius: 2rem;
}

.person img{
    border-radius: 50%;
    position: absolute;
    top: -2rem;
    left: -3rem;
    border: 10px solid cornflowerblue;
}

.person:hover{
    transform: scale(1.1);
    background-color: cornflowerblue;
    color: white;
}

footer{
    color: aliceblue;
    background-color: cornflowerblue;
    padding: 1rem;
    text-align: center;
    margin-top: 5rem;
}
